.form {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.field {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.field label {
    color: #C4C4C4;
    font-size: 17px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    color: var(--text-color-secondary);
}

.registration {
    color: var(--primary-color);
    text-decoration: none;
    position: relative;
}

.registration::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    display: block;
    width: 0;
    height: 2px;
    transition: 0.25s ease-in-out;
    background-color: var(--primary-hover-color);
}

.registration:hover:after,
.registration:focus:after  {
    width: 100%;
}